@import './color.css';

.about-section {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 5rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    max-width: 68.75rem;
    /* 1100px */
    width: 100%;
}

.about-container.reverse {
    flex-direction: row-reverse;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 2.5rem;
    color: var(--color-teal-light);
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.094rem;
}

.about-text h3 {
    font-size: 1.25rem;
    color: var(--color-gold);
    margin-bottom: 1rem;
    font-weight: 600;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-grey-lighter);
    margin-bottom: 1rem;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 100%;
    max-width: 28.125rem;
    height: 21.875rem;
    object-fit: cover;
    border-radius: 0.75rem;
    box-shadow: 0 0 1.25rem var(--color-white-transparent);
}

.gallery-container {
    width: 100%;
    max-width: 68.75rem;
    text-align: center;
}

.gallery-title {
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 2rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: 1.5rem;
}

.gallery-item {
    background: var(--color-grey-darker);
    border-radius: 0.75rem;
    overflow: hidden;
    transition: transform 0.2s;
    max-width: 21.875rem;
    margin: 0 auto;
    width: 100%;
}

.gallery-item:hover {
    transform: translateY(-0.3125rem);
}

.gallery-img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.gallery-info {
    padding: 1.2rem;
    text-align: left;
}

.gallery-info h4 {
    color: var(--color-teal-dark);
    margin-bottom: 0.4rem;
    font-size: 1.05rem;
    font-weight: bold;
}

.gallery-info p {
    color: var(--color-white);
    font-size: 0.9rem;
    line-height: 1.4;
}

@media (max-width: 768px) {

    .about-container,
    .about-container.reverse {
        flex-direction: column-reverse;
        text-align: center;
        gap: 2rem;
    }

    .about-section {
        gap: 4rem;
        padding: 3rem 1.5rem;
    }

    .about-text h2 {
        font-size: 1.8rem;
    }

    .gallery-info {
        text-align: center;
    }
}