:root {
    --bg-light: #F2F3F5;
    --primary-text: #397578;
    --primary-hover: #d19a00;
    --bg-dark: #000000;
    --bg-card-dark: #1a1a1a;
    --text-white: #ffffff;
    --text-light-grey: #e0e0e0;
    --text-dark-grey: #555555;
    --text-accent-teal: #4db6ac;
    
    --shadow-light: rgba(255, 255, 255, 0.05);

    --border-dark: #333333;
}